body {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    background-color: #eb9c5f;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

@font-face {
    font-family: 'Arkitech Medium';
    src: url(../fonts/Arkitech\ Medium.ttf) format(truetype);
}

header {
    height: 110px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
}

#logo {
    height: 80px;
    padding: 15px 30px;
}

header nav {
    align-self: flex-end;
    padding-bottom: 20px;
    padding-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ffde59;
    font-size: 13px;
    padding: 0px 15px;
    font-family: 'arkitech medium';
}

nav a :hover {
    color: #e8671f;
}

#imagem-home {
    height: 500px;
    background-image: url('../img/img-home.jpg');
    background-size: cover;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 150px 80px;
}

#call-to-action {
    background-color: #000000;
    opacity: 0.7;
    color: #ffde59;
    font-size: 40px;
    text-align: center;
    padding: 30px 40px;
    border-radius: 10px;
}

#solicitar-orçamento {
    background-color: #b54d16;
    padding: 15px 25px;
    text-decoration: none;
    font-weight: bold;
    color: #fbe27e;
    border-radius: 10px;
    margin-top: 40px;
    text-align: center;
    margin: 40px auto 0px auto;
}

#solicite-orçamento:hover {
    background-color: #ffde59;
    color: #e8671f;
}

#container {
    padding: 0px 100px;
    text-align: center;
    max-width: 1900px;
    margin: 0px auto;
}

#container p {
    color: #e8dddd;
}

h1 {
    padding: 45px 0px 20px 0px;
    font-family: 'arkitech Medium';
    font-size: 26px;
}

#destaque-servicos {
    display: flex;
    margin: 60px 0px;
    justify-content: space-between;
}

.box-servico {
    background-color: white;
    border: 1px solid lightslategray;
    margin: 0px 15px;
    border-radius: 10px;
}

.box-servico img {
    height: 180px;
}

.box-servico h2,
p,
a {
    padding: 0px 20px;
}

.box-servico h2 {
    background-color: lightslategray;
    font-size: 25px;
    color: white;
    padding: 15px 20px;
    text-shadow: 1px 1px 2px black;
}

.box-serviço a {
    text-decoration: none;
    font-weight: bold;
    color: lightslategray;
}

.box-serviço:hover h2 {
    color: #e8671f;

}

footer {
    background-color: #151515;
    color: #ffffff;
    text-align: center;
    margin-top: auto;
    height: 100px;
}

footer span {
    font-family: 'arkitech Medium';
    font-size: 20px;
    color: #ffde59
}

/*estilos para pagina sobre.html*/

#imagem-interna {
    background-image: url('../img/img-home.jpg');
    background-size: cover;
    padding: 30px 0px;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

#imagem-interna-header span {
    font-family: 'arkitech medium';
    font-size: 26px;
    color: #ffde59;
}

#conteudo-empresa {
    display: flex;
    margin: 30px auto;

}

#video-empresa {
    width: 50%;
    padding: 33px 0px 20px 0px;
    margin-right: 30px;
}

#info-empresa {
    width: 50%;
    margin-left: 30px;
}

#video-empresa video {
    max-width: 100%;
    border-radius: 10px;
}

#info-empresa p,
li {
    color: #555;
    text-align: justify;
}

h3 {
    color: #e8671f;
    font-size: 24px;
}

/*estilos para a ´pagina contato.html*/

#contato-conteudo {
    display: flex;
    padding: 45px 0px;
}

#dados-contato {
    width: 50%;
}

#mapa {
    width: 50%;
    margin-left: 30px;
}

#frm-contato {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-top: 30px;
}

#frm-contato input,
textarea {
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    margin: 5px 0px;
    border-radius: 10px;
    border: solid 1px lightslategray;
    padding: 5px 10px;
}

textarea {
    resize: none;
}

button {
    margin: 25px 15px 0px 15px;
    padding: 8px 40px;
    border-radius: 10px;
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}


#botão-enviar {
    background-color: rgb(235, 181, 73);
    color: rgb(255, 255, 255);
}

#botão-apagar {
    background-color: rgb(237, 158, 30);
    color: rgb(255, 255, 255);
}

/*programa a responsividade do site*/

@media(max-width:768px) {
    body {
        font-size: 20px;
    }
}

header {
    flex-direction: column;
    height: 400px;
    align-items: center;
    justify-content: center;

}

header nav {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0%;
    margin: 0 auto 15px auto;
}

#imagem-home {
    min-height: 300px;
    padding: 30px 0 px;
}

#call-to-action {
    font-size: 25px;
    padding: 15px 15px;
    margin: 15px 15px;
}

#solicitar-orçamento {
    margin: 15px 15px;
    font-size: 25px;
    text-align: center;
}

#container {
    max-width: 100vw;
    padding: 0px;
}

#destaques-serviços {
    flex-direction: column;
    max-height: 1700px;
    justify-content: center;
    margin: 30px 0px;
}

.box-serviço {
    margin: 15px 0px;

}

h1 {
    font-size: 23px;
}

.box-serviçoimg {
    height: 100;
}

#imagem-internsa-header span {
    font-size: 20 px;
}

#conteudo-empresa {
    flex-direction: column-reverse;
}

#video-empresa {
    width: 95%;
    margin: 0px;
    padding: 10px 10px;
}

#info-empresa {
    width: 95%;
    margin: 0px;
    padding: 10px 10px;
}

#info-empresa p {
    text-align: center;
}

#info-empresa li {
    text-align: left;
}
#contato-conteudo{
    flex-direction: column;
    justify-content: center;
}
#dados-contato{
    width:unset;
    margin:0px 10px;
}
#mapa{
    width: unset;
    margin: 0px 10px;
}
#frm-contato input,textarea{
    font-size: 23px;
}
#button{
    font-size: 25px;
    width: 200px;
    height: 70px;
}
#freame-mapa{
    margin: 30px 0px;
    min-height: 250px;
}
